

 .details-layout {
  direction: rtl;
  display: flex;
  gap: 20px;
  margin-top: 80px;
  padding: 20px;
  background-color: var(--landing-color);
  min-height: 100vh;
}
.details-right {
  flex: 3;
}
.details-left {
  flex: 1;
  background-color: var(--color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: fit-content;
  position: sticky;
  top: 90px;
}
.details-close-close {
  display: flex;
  gap: 5px;
  font-size: 16px;
  color: #2c3e50;
  flex-wrap: wrap;
}
.details-close {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.details-close-titles {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.details-close-title-yello,
.details-close-title-main,
.details-close-title-empty {
  padding: 6px 10px;
  font-size: 13px;
  color: #444;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
}
.details-close-title-yello {
  background-color: var(--yellow-color);
}
.details-close-title-yello .details-close-title-yello-icon {
  font-size: 15px;
}
.details-close-title-main {
  background-color: var(--main-color);
  color: var(--color);
}
.details-close-title-main .details-close-title-main-icon {
  font-size: 15px;
  color: var(--color);
}
.details-lay-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details-lay-image-main {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
}
.details-lay-image-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .details-lay-image-thumbs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(99px, 1fr));
  gap: 8px;
}
.details-lay-image-thumbs img {
  flex: 1;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
  border: 2px solid transparent;
}
.details-lay-image-thumbs img:hover {
  transform: scale(1.05);
}
.details-lay-image-thumbs img.active-thumb {
  border: 2px solid var(--main-color);
}
.details-layout-info {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--landing-color);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.details-lay-info-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.details-layout-info .details-lay-info-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
  width: 100%;
}
.details-layout-info .details-lay-info-item div {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color);
  border-radius: 8px;
  padding: 8px 12px;
  color: #707070;
  font-size: 15px;
}
.details-layout-info .details-lay-info-item div .details-lay-info-icon {
  color: var(--color);
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
}
.details-layout-decs {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--color);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.details-lay-decs-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.details-lay-decs-info {
  margin-bottom: 10px;
  line-height: 1.7;
  color: #555;
}
.details-lay-decs-info-item {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  margin: 5px;
  font-size: 14px;
}
.details-lay-decs-info .details-lay-decs-info-icon {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 2px;
}
/* =================== التعليقات =================== */
.details-lay-comments {
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.details-lay-comments-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.details-lay-comments-info {
  font-size: 14px;
  margin-bottom: 10px;
  color: #777;
}
.details-lay-comments-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.details-lay-comments-user img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.details-lay-comments-user input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 8px;
}
.details-lay-comments-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.details-lay-comments-actions span,
.details-lay-comments-actions button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: var(--main-color);
  cursor: pointer;
}
.details-lay-comments-actions button {
  background-color: var(--main-color);
  color: var(--color);
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.details-lay-comments-list {
  margin-top: 15px;
}
.details-lay-comments-list-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: flex-start;
}
.details-lay-comments-list-item-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;;
  border: 1px solid var(--main-color);
}
.details-lay-comments-list-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details-lay-comments-list-item-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.details-lay-comments-list-item-name {
  font-weight: bold;
}

.details-lay-comments-list-item-date {
  font-size: 12px;
  color: #777;
}
.details-lay-comments-list-item-text-info {
  font-size: 14px;
  margin: 5px 0;
  color: #444;
}
.details-lay-comments-list-item-text-actions {
  display: flex;
  gap: 15px;
  font-size: 13px;
  color: #555;
  cursor: pointer;
}
.details-lay-comments-list-item-text-actions span {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* =================== الجزء الشمال =================== */
.details-left-price {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
}
.details-left-negotiable {
  font-size: 14px;
  color: var(--main-color);
  margin-bottom: 15px;
}
.details-left-top-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details-left-top-user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}
.details-left-top-user-name {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}
.details-left-top-user-name span {
  background-color: var(--main-color);
  color: var(--color);
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.details-left-top-user-member {
  font-size: 13px;
  color: #777;
}
.details-left-top-user-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 13px;
  color: #555;
}
.details-left-top-user-actions span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.details-left-top-user-actions-icon {
  color: var(--yellow-color);
  font-size: 16px;
}
.details-left-top-user-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.details-left-top-user-btn1,
.details-left-top-user-btn2 {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.details-left-top-user-btn1 {
  background-color: var(--main-color);
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.details-left-top-user-btn2 {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s;
}
.details-left-top-user-btn2:hover {
  background-color: var(--main-color);
  color: var(--color);
}
.details-left-top-send {
  width: 100%;
  margin-top: 15px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: var(--yellow-color);
  color: #333;
  cursor: pointer;
  font-size: 15px;
}
.details-left-bottom {
  margin-top: 20px;
}
.details-left-bottom-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.details-left-bottom-list {
  list-style: disc;
  padding-right: 20px;
  color: #555;
  font-size: 14px;
}

/* =================== ريسبونسف =================== */

/* الموبايل الصغير (شاشات تحت 576px) */
@media (max-width: 576px) {
  .details-lay-image-thumbs img {
    height: 80px;
  }
  .details-lay-decs-info{
    display: flex;
    flex-direction: column;
  }
  .details-layout-info .details-lay-info-item div {
    font-size: 13px;
  }
  .details-layout {
    flex-direction: column;
  }
  .details-left {
    position: relative;
    top: 0;
    width: 100%;
    order: 2;
  }
  .details-right {
    order: 1;
  }
  .details-lay-image-main {
    height: 250px; /* تصغير الصورة الرئيسية */
  }
  .details-lay-image-thumbs {
    grid-template-columns: repeat(3, 1fr); /* 3 صور في الصف */
  }
  .details-layout-info .details-lay-info-item {
    grid-template-columns: 1fr; /* عنصر واحد في الصف */
  }
}
/* التابلت (شاشات من 577px لحد 992px) */
@media (max-width: 992px) {
  .details-layout {
    flex-direction: column;
  }
  .details-left {
    position: relative;
    top: 0;
    width: 100%;
    order: 2;
  }
  .details-right {
    order: 1;
  }
  .details-lay-image-main {
    height: 300px;
  }
  .details-lay-image-thumbs {
    grid-template-columns: repeat(5, 1fr); /* 5 صور في الصف */
  }
  .details-layout-info .details-lay-info-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* اللاب توب والديسكتوب (أكتر من 992px) */
@media (min-width: 993px) {
  .details-lay-image-thumbs {
    grid-template-columns: repeat(10, 1fr); /* 10 صور في الصف */
  }
  .details-layout-info .details-lay-info-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
