.UserFavorites_container {
    flex: 1;
    padding-top: 30px;
}

.UserFavorites_container header {
    border-bottom: 2px solid var(--border-color);
    padding-inline-start: 20px;
    padding-bottom: 20px;
}

.UserFavorites_container header h2 {
    font-size: 20px;
}

.UserFavorites_container header h2 span {
    color: var(--main-color);
}

.UserFavorites_container header h2 p {
    color: var(--text-color);
}