
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  direction: rtl;
}
.login-image, 
.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-image img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}
.login-container {
  max-width: 450px;
  padding: 40px 30px;
  border-radius: 12px;
  flex-direction: column;
}
.login-container h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #222;
  font-weight: bold;
}
.login-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-group {
  position: relative;
  width: 100%;
}
.input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}
.input-group input:focus {
  border-color: var(--main-color);
}
.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #727272;
}
.input-icon.eye {
  right: 12px;
  cursor: pointer;
}
.login_button {
  margin-top: 5px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--color);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: var(--hover-color);
}
.login-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #444;
  text-align: center;
}
.login-footer a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}
.login-footer a:hover {
  text-decoration: underline;
}

/* موبايل */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    padding: 20px;
  }
  .login-container {
    max-width: 100%;
    width: 100%;
  }
  .login-image img {
    display: none;
  }
}
