.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}
.register-box {
  display: flex;
  background-color:var(--color);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 850px;
  max-width: 95%;
}
.register-image {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-image img {
  width: 80%;
  height: auto;
}
.register-content {
  flex: 1.2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
}
.register-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  text-align: right;
  line-height: 1.6;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-group {
  position: relative;
}
.input-group .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}
.input-group input{
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}
.input-group input:focus{
  border-color: var(--main-color);
}
.regis_button {
  background-color: var(--main-color);
  color: var(--color);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.regis_button:hover {
  background-color: var(--hover-color);
}
.register-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
.register-footer a {
  color: var(--main-color);
  text-decoration: none;
}
.register-footer a:hover {
  text-decoration: underline;
}

@media(max-width: 768px) {
  .register-image img {
    display: none;
  }
}
