.sellerData_container {
    max-width: 875px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: var(--color);
    border-radius: 12px;
    border: 1px solid #DBDBDB;
    color: var(--header-color);
    margin-bottom: 20px;
}

.sellerData_header h3 {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: start;
}

.sellerData_header p {
    text-align: start;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.webMessage_item {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.webMessage_item .text {
    text-align: start;
    color: var(--header-color);
}

.webMessage_item .switch .slider {
    display: flex;
}
