.userSideBar_container {
    background-color: var(--color);
    border-inline-end: 2px solid var(--border-color);
    width: 200px;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .3s;
}

.userSideBar_container .userSidebar_content {
    width: 200px;
    position: fixed;
    inset: 0;
    top: 40px;
    transition: all ease-in-out .3s;
}

.userSideBar_container .userSidebar_content .userSidebar_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userSideBar_container .userSidebar_content .userSidebar_links .userSidebar_links_group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 20px;
    border-bottom: 2px solid var(--border-color);
}

.userSideBar_container .userSidebar_content .userSidebar_links .userSidebar_links_group li,
.userSideBar_container .userSidebar_content .userSidebar_links .userSidebar_links_group li .link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    flex: 1;
    color: var(--text-color);
    cursor: pointer;
}

.userSideBar_container .userSidebar_content .userSidebar_links .userSidebar_links_group li .link .link_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------- buttons ------------------------ */
/* --------------------- buttons ------------------------ */

.userSideBar_container .userSidebar_content .userSidebar_buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.userSideBar_container .userSidebar_content .userSidebar_buttons .returntoWebSite {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userSideBar_container .userSidebar_content .userSidebar_buttons .returntoWebSite .linkToMaaashi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    width: 100%;
    height: 50px;
    transition: all ease-in-out .3s;
}

.userSideBar_container .userSidebar_content .userSidebar_buttons .returntoWebSite .returntoWebSite_icon {
    display: none;
}

.userSideBar_container .userSidebar_content .userSidebar_buttons .logout_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--color);
    color: var(--header-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    width: 100%;
    height: 50px;
    transition: all ease-in-out .3s;
}

.userSideBar_container .userSidebar_content .userSidebar_buttons .logout_btn .link_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userSideBar_container .userSidebar_content .userSidebar_links .userSidebar_links_group li .link.active {
    background-color: #aaffee40;
}

@media (max-width: 768px) {

    .userSideBar_container,
    .userSideBar_container .userSidebar_content {
        padding: 0px;
        display: flex;
        flex-direction: column;
        width: 60px;
        position: fixed;
        overflow: hidden;
    }

    .userSideBar_container.hidden,
    .userSideBar_container .userSidebar_content.hidden {
        width: 0px;
        padding: 0px;
        overflow: hidden;
        transition: all ease-in-out .3s;
    }

    .userSideBar_container .userSidebar_content .userSidebar_links .userSidebar_links_group {
        align-items: center;
        padding: 0px;
        padding-bottom: 20px;
    }

    .userSideBar_container .userSidebar_content .userSidebar_links .userSidebar_links_group li .link span {
        display: none;
    }

    /* ----------------------- buttons--------------------------- */
    /* ----------------------- buttons--------------------------- */
    .userSideBar_container .userSidebar_content .userSidebar_buttons {
        padding: 10px;
        margin-top: 20px;
    }

    .userSideBar_container .userSidebar_content .userSidebar_buttons .returntoWebSite .linkToMaaashi {
        display: none;
    }

    .userSideBar_container .userSidebar_content .userSidebar_buttons .returntoWebSite .returntoWebSite_icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userSideBar_container .userSidebar_content .userSidebar_buttons .returntoWebSite .returntoWebSite_icon img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .userSideBar_container .userSidebar_content .userSidebar_buttons .logout_btn span {
        display: none;
    }
}