.categoryData_container {
    background-color: #dcdcdc66;
    padding-top: 70px;
    min-height: 100dvh;
}

/* ===== Top Section ===== */
.top_section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #dbdbdb;
}

.top_section_container {
    max-width: 1160px;
    margin: auto;
}

.categoryData_links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.categoryData_links .arr_icon {
    margin-top: 3px;
    font-size: 20px;
}

.categoryData_links .category_link {
    color: var(--main-color);
}

.categoryData_header {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}

/* ===== Search ===== */
.categoryData_header .search_input {
    width: 100%;
    margin-top: 20px;
    border-radius: 999px;
    overflow: hidden;
    position: relative;
}

.categoryData_header .search_input input {
    width: 100%;
    border: 2px solid var(--border-color);
    color: var(--parg-color);
    border-radius: 999px;
    padding: 10px 5px;
    padding-right: 40px;
    outline: none;
}

.categoryData_header .search_input input::placeholder {
    font-size: var(--font-size-sm);
}

.categoryData_header .search_input input:focus {
    border-color: var(--main-color);
}

.categoryData_header .search_input button {
    background: transparent;
    color: var(--parg-color);
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

/* ===== Attributes ===== */
.attributes_map {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding: 20px 0;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) #e6e6e6;
}

.attributes_map button {
    background-color: #DCDCDC66;
    color: var(--parg-color);
    width: 180px;
    padding: 0 20px;
    font-size: var(--font-size-sm);
    white-space: nowrap;
    border-radius: 999px;
    transition: all 0.3s ease-in-out;
}

.attributes_map button:hover,
.attributes_map button.attri_btn_active {
    background-color: var(--main-color);
    color: #fff;
}

.data_Region {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--border-color);
    margin-top: 40px;
    padding-top: 20px;
}

/* ===== Bottom Section ===== */
.categoryData_container .bottom_section_categoryData {
    background-color: transparent;
    max-width: 1170px;
    padding-bottom: 100px;
    margin: auto;
}

.bottom_section_categoryData_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.categories_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* ====== Responsive ====== */

@media (max-width: 1024px) {
    .bottom_section_categoryData {
        padding: 20px 20px 100px;
    }

    .categories_items {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .data_Region {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .categories_items {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}